@charset "utf-8";

$primary: #6610f2;

$block-spacing: 4rem;
$sizing-range-start: 4;
$sizing-range-end: 128;
$sizing-interval: 4;
$spacing-range-start: 4;
$spacing-range-end: 128;
$spacing-interval: 4;
$font-family: 'Inter', sans-serif;

// navbar right side bar
.modal-right-side-bar-display-none{
    display: none;
}

.modal-right-side-bar{
    width: 290px !important;
    position: absolute;
    z-index: 155px;
    top: 90px;
    right: -2px;
}

// left side modal

.modal-left-side-bar-display-none{
    display: none;
    position: absolute;
}
.modal-left-side-bar-display-small{
    display: none;
    position: absolute;
}

.full-screen-display-bar{
    position: relative;
}

.modal-left-side-bar{
    width: 60px !important;
    position: absolute;
    z-index: 155px;
    top: 90px;
    right: 1230px;
}

//  on-hover

.on-hover:hover{
    background-color: #ccffff;;
}

// hero background image

.has-background-image-one-hero{
    background-image: url('pages_hero.jpg');
    background-size: cover;
   background-repeat: no-repeat;
    filter: brightness(90%);
   //background-position-x: center;
   //background-position-y: center;
}

.has-background-image-two-hero{
    background-image: url('person-cropped.jpg');
    display: flex;
    background-size: cover;
   background-repeat: no-repeat;
}
.has-margin-top-hero{
    margin-top: 150px !important;
}

.has-margin-top-max{
    margin-top: 220px !important;
}

// SWITCH
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// extra

// function openSidebar(){
// var element = document.getElementById("sidebar-inner");
//  element.classList.toggle("is-hidden");
// }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/bulma-helpers/bulma-helpers';

